.wrapper {
    width: 550px;
    padding: 25px 25px 25px 0;
}

.loginFormForgot {
    float: right;
}

.loginFormButton {
    width: 100%;
}

h1.header {
    font-size: 30px;
    margin-bottom: 5px;
}

.headerDesc {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

//.formInput {
//    border: 1px solid #B4B4B4;
//    box-sizing: border-box;
//    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.06);
//    border-radius: 10px;
//    height: 50px;
//}

.label {
    font-size: 16px;
    font-weight: 500;
}